<section class="container">
    <h1>
        <%= titulo %>
    </h1>

    <form action="">
        <input type="hidden" name="_csrf" value="<% csrfToken %>">
        Nome: <input type="text" name="nome">
        <button>Enviar</button>
    </form>
</section>